
.principal {
    height: 220px; 
    background-color: #f5f5f5; 
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
}

.linha {
    height: 40px;
}

.titulo {
    color: #3880ff;
    font-weight: bold;
    text-align: center;
}